* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to bottom, rgba(56, 71, 71, 0.295), rgb(200, 225, 240));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(56, 83, 84);
    font-size: 20px;
    font-weight: 400;
}

/* ===========================
Header styling
============================== */
.navbar {
    width: 100%;
    background-color: rgba(198, 239, 239, 0.459);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
}

.navbar #logo {
    font-size: 40px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}

.navbar nav a {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
}

/* ===========================
Body styling
============================== */

#hero {
    display: flex;
    align-items: center;
    /* margin-top: 10px; */
    padding-top: 20px;
}

aside {
    background-color: rgba(0, 255, 255, 0.411);
    width: 20%;
    margin-top: 10px;
    height: 100vh;
    position: fixed;
    top: 80px;
}

aside #dash {
    /* background-color: black; */
    border-bottom: 1px solid whitesmoke;
    color: antiquewhite;
    padding: 20px;
}

aside #aside-sec div {
    padding: 10px;
    /* font-weight: ; */
    margin-left: 10px;
}

#content {
    width: 80%;
    margin-left: 20%;
}

#content #main-box {
    background-color: linear-gradient(to bottom, blue, rgb(25, 25, 67));
    margin-top: 100px;
}

#main-box h2 {
    background-color: rgb(200, 225, 240);
    margin: 0pc 20%;
    border-radius: 20px;
    padding: 40px 10px;
    text-align: center;
}

#cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
    padding: 10%;
}

#grid-cards {
    background-color: linear-gradient(to bottom, blue, rgb(25, 25, 67));
    box-shadow: 2px 0px 10px gray;
}

#grid-col {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5%;
}

#grid-cards h2 {
    padding-top: 10px;
    text-align: center;
}

.card {
    text-align: center;
    background-color: rgba(0, 255, 255, 0.342);
    padding: 20px;
    border-radius: 20px;
    border-left: 5px solid rgb(47, 81, 81);
}
#def table{
    width: 80%;
    margin:20px auto;
    border: 5px solid rgb(178, 232, 248) ;
}
thead, td b{
    color: rgb(68, 112, 112);
}
/* ===========================
Footer styling
============================== */
footer p {
    padding: 10px;
    background-color: aqua;
    text-align: center;
    font-weight: 600;
}